<!DOCTYPE html>
<html lang = "pt" xmlns = "http://www.w3.org/1999/xhtml" 
		xmlns:th = "htp://www.thymeleaf.org"
		xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="~{layout/Layout}">
	<head>
		<!--  <meta charset="UTF-8"> -->
		<meta charset="ISO-8859-1">
	</head>
	
	<body>
		
		<section class="layout-content js-content" layout:fragment="content">
			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de Usuários
					</h1>
				</div>
			</div>
			
			<div class="container-fluid">
			
				<form method= "POST" th:object = "${cerveja}" class="form-vertical js-form-loading">
					
					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="nome">Nome</label>
							<input id="nome" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="row">
					
						<div class="col-sm-8 form-group">
							<label for="email">E-mail</label>
							<input id="email" type="text" class="form-control"/>
						</div>
						
						<div class="col-sm-4 form-group">
							<label for="nascimento">Data de Nascimento</label>
							<input id="nascimento" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="senha">Senha</label>
							<input id="senha" type="password" class="form-control"/>
						</div>
						
						<div class="col-sm-4 form-group">
							<label for="confirmacaoSenha">Confirmação da Senha</label>
							<input id="confirmacaoSenha" type="password" class="form-control"/>
						</div>
						
						<div class="col-sm-4 form-group">
							<label for="status">Status</label>
							<div>
								<div class="checkbox checkbox-inline">
									<input type="checkbox" name="status"/>
									<label>Ativo</label>
								</div>
							</div>
						</div>											
					</div>
					
					
					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="grupo">Grupos</label>
							<div>
								<div class="checkbox checkbox-inline">
									<input type="checkbox" name="grupo"/>
									<label>Administrador</label>
								</div>
		
								<div class="checkbox checkbox-inline">
									<input type="checkbox" name="grupo"/>
									<label>Vendedor</label>
								</div>
							</div>
						</div>											
					</div>
											
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Salvar</button>
					</div>
			
				</form>
			</div>
			
			<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
		
		</section>
							
	</body>
</html>