<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="htp://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		>
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
		<title>Baltika</title>
	
		<link rel="stylesheet" type="text/css" th:href="@{/layout/assets/stylesheets/vendors.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/assets/stylesheets/baltika.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/assets/stylesheets/application.css}"/>
	</head>
	
	<body>
	
		<div class = "layout-page">
			
			<div th:replace="layout/fragments/BarraNavegacao :: layout-navbar"></div>
			
			<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
			
			<section layout:fragment="content"></section>
			
			<div th:replace="layout/fragment/Rodape :: layout-footer"></div>
		</div>
		
	</body>

	<script th:src="@{/layout/assets/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/assets/javascripts/baltika.min.js}"></script>
	<script th:src="@{/javascript/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascript/baltika.js}"></script>

</html>